---
// Header & Navigation UI displayed on each page.

import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
// import "@/styles/global.css";
const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;

import logoImg from "@/assets/ico.png";
import { Image } from "astro:assets";

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<header class="l-header">
  <h1 dir="ltr">
    <a href={getRelativeLocaleUrl(locale, "/")} aria-label="Home">
      <div class=" flex items-center flex-row">
        <span class="block w-8 h-8 mr-2">
          <Image
            src={logoImg}
            alt="Happy Ghast"
            loading="lazy"
            decoding="async"
            class="rounded-xl shadow-md"
          />
        </span>

        <span class="block text-2xl font-bold">Happy Ghast</span>
      </div>
    </a>
  </h1>
  <h2 class="text-gray-400 text-sm">
    {
      t({
        "zh-cn": "提供所有我的世界Happy Ghast的相关资讯",
        en: "Providing all Minecraft Happy Ghast related information",
        es: "Proporcionando toda la información relacionada con Happy Ghast de Minecraft",
        fr: "Fournissant toutes les informations sur Happy Ghast de Minecraft",
        de: "Bietet alle Informationen zu Minecraft Happy Ghast",
        ja: "マインクラフトのHappy Ghastに関するすべての情報を提供",
        ru: "Предоставление всей информации о Happy Ghast из Minecraft",
        pt: "Fornecendo todas as informações relacionadas ao Happy Ghast do Minecraft",
        ar: "توفير جميع المعلومات المتعلقة بـ Happy Ghast من ماينكرافت",
        ko: "마인크래프트 Happy Ghast 관련 모든 정보 제공",
      })
    }
  </h2>

  <LocaleSelect />

  <nav class="l-content">
    <ul>
      <!-- <li>
        <a
          href={getRelativeLocaleUrl(locale, "/")}
          class={isActive("/") ? "active" : null}
        >
          {
            t({
              ja: "ホーム",
              en: "HOME",
              "zh-cn": "首页",
              es: "INICIO",
              fr: "ACCUEIL",
              de: "STARTSEITE",
              ru: "ГЛАВНАЯ",
              pt: "INÍCIO",
              ar: "الرئيسية",
              ko: "홈",
            })
          }
        </a>
      </li> -->

      <!-- <li>
        <a
          href={getRelativeLocaleUrl(locale, "/blog")}
          class={isActive("/blog") ? "active" : null}
        >
          {t({ ja: "ブログ", en: "Blog", "zh-cn": "博客", ar: "مدونة" })}
        </a>
      </li> -->

      <!-- <li>
        <a
          href="https://github.com/psephopaiktes/astro-i18n-starter"
          target="_blank"
        >
          GitHub
          <span class="material-icons-sharp dir">open_in_new</span>
        </a>
      </li> -->
    </ul>
  </nav>
</header>

<style>
  * {
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    display: grid;
    place-items: center;
    gap: var(--sp-s);
  }

  h1 {
    margin-block-start: var(--sp-l);
    margin-inline-start: -0.5em;
    font-size: 40px;
    font-family: var(--english-font);
    font-weight: 900;
    @media (width < 480px) {
      font-size: 28px;
    }

    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 6em;
      position: relative;
      inset: 0.1em;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--sp-m);
  }
  ul {
    display: flex;
    gap: var(--sp-s);
    margin-block-start: var(--sp-s);

    .en-only {
      position: relative;
      &:not(:lang(en))::before {
        content: "EN";
        position: absolute;
        inset: -0.4em -0.6em auto auto;
        font-size: 0.8em;
        font-weight: 900;
        color: var(--color-main);
        opacity: 0.6;
      }
    }

    a {
      font-size: 1.05rem;
      display: block;
      font-weight: 600;
      letter-spacing: 0.05em;
      padding-block: 0.2em;
      padding-inline: 0.4em;
      border-radius: 4px;
      &:hover,
      &:active {
        background-color: color-mix(
          in srgb,
          var(--color-theme) 5%,
          transparent
        );
      }
      &.active {
        pointer-events: none;
        color: var(--color-theme);
      }
      .material-icons-sharp {
        opacity: 0.6;
        margin-inline-start: -0.2em;
        font-size: 0.9em;
      }
    }
  }
</style>
